.top-bar {
    color: #1c1c1c;
    font-size: 14px;
    font-weight: 500;
    padding: 14px 0;
}

.nav-link {
    font-weight: var(--fw-bold) !important;
}

.contact-info {
    display: flex;
    gap: 25px;
    align-items: center;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #1c1c1c;
}

.contact-item .icon {
    color: var(--color-primary);
    font-size: 16px;

}

.contact-item a {
    all: unset;
    font-weight: var(--fw-bold);
    cursor: pointer;
    color: var(--color-black);
    text-decoration: none;
}

.contact-item a:hover {
    color: var(--color-primary);
    font-weight: var(--fw-bold);
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 0 !important;
}

.social-icons a {
    color: #1c1c1c;
    margin-left: 10px;
    font-size: 16px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #6f42c1;
}

@media (max-width: 768px) {
    .top-bar {
        display: none;
    }
}

.navmenu {
    border-radius: 50px;
    transition: all 0.3s ease;
    background-color: var(--color-white) !important;
}

.navmenu .container {
    padding: 0 20px;
}

.logo-auto img {
    /* max-height: 62px; */
    max-height: 100px;
}

.kids-app .sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.3s ease;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.top-section {
    position: relative;
    width: 100%;
    min-height: 90vh;
    background: linear-gradient(180deg, var(--color-primary-light50) 0%, var(--color-white) 100%);
    overflow: hidden;
    padding-top: 0 !important;
}

.top-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("src/assets/images/hero/slider-a-pattern.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}