.footer-section {
    background-color: var(--color-dark-gray);
    color: var(--color-white);
}

.footer-logo {
    max-width: 220px;
    margin-bottom: 4rem;
}

.footer-left p {
    font-size: var(--fs-md);
    line-height: 1.5;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: all 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.1);
    background-color: var(--color-white);
    color: var(--color-primary);
}

.kids-app .footer-heading {
    font-weight: var(--fw-bold);
    font-size: var(--fs-lg);
    margin-bottom: 1rem;
}

.kids-app .footer-links li {
    margin-bottom: 0.8rem;
}

.kids-app .footer-links a {
    color: var(--color-gray);
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
}

.kids-app .footer-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: var(--color-secondary);
    transition: width 0.3s ease;
}

.kids-app .footer-links a:hover::after {
    width: 100%;
}

.map-container iframe {
    border-radius: 10px;
    border: none;
}

.kids-app .footer-section p {
    color: var(--color-gray);
}

.kids-app .footer-bottom {
    border-top: 1px solid var(--color-gray) !important;
    background-color: var(--color-primary-dark);
    color: var(--color-gray);
    font-size: 0.9rem;
}

.kids-app .footer-bottom a {
    color: var(--color-secondary);
    text-decoration: none;
}

.kids-app .footer-bottom a:hover {
    text-decoration: underline;
}


.kids-app .footer-bottom .container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 576px) {
    .kids-app .footer-bottom .container {
        flex-direction: column;
        text-align: center;
        gap: 0.5rem;
    }

    .col-lg-4.mb-4 {
        margin-top: 2rem;
    }
}