.about-us {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.about-img {
    position: relative;
}

.about-img img {
    transition: transform 0.4s ease;
}

.about-img img:hover {
    transform: scale(1.05);
}

@media (max-width: 992px) {
    .about-img .col-6 {
        margin-top: -100px !important;
    }

    .about-img .w-75 {
        width: 60% !important;
    }
}

@media (max-width: 768px) {
    .about-us .row.g-5 {
        flex-direction: column-reverse;
    }

    .about-img .col-6,
    .about-img .col-12 {
        margin-top: -50px !important;
    }

    .about-img img {
        width: 80% !important;
        margin: 0 auto;
    }

    .title-header h1 {
        font-size: 1.8rem;
    }

    .title-header h6 {
        font-size: 1rem;
    }

    .about-us p {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {

    .about-img .col-6,
    .about-img .col-12 {
        margin-top: -30px !important;
    }

    .about-img img {
        width: 90% !important;
    }

    .title-header h1 {
        font-size: 1.5rem;
    }

    .about-us p {
        font-size: 0.85rem;
    }

    .row.g-4 .col-sm-6 {
        margin-bottom: 1rem;
    }
}