.kids-app .btn {
    padding: 0.6rem 1.2rem;
    font-weight: 600;
    border-radius: 50px;
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
}

.btn-primary {
    background-color: var(--color-primary) !important;
    color: var(--color-white);
}

.btn-primary:hover {
    opacity: 0.8;
}

.btn-secondary {
    background-color: var(--color-secondary);
    color: var(--color-black);
}

.btn-hero {
    background-color: var(--color-primary);
    color: #fff;
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
}

.btn-hero:hover {
    opacity: 0.9;
}