.recent-blog-posts .card {
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    height: 100%;
    background-color: var(--surface-color);
}

.recent-blog-posts .card:hover .card-img-wrapper img {
    transform: scale(1.1);
}

.recent-blog-posts .card .card-top {
    padding: 1rem;
}

.recent-blog-posts .card .card-top img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.recent-blog-posts .card .card-top .author-name {
    font-size: 0.9rem;
    color: var(--heading-color);
}

.recent-blog-posts .card .card-top .likes {
    font-size: 0.9rem;
    color: var(--accent-color);
}

.recent-blog-posts .card .card-top .likes i {
    margin-right: 0.25rem;
}

.recent-blog-posts .card .card-img-wrapper {
    overflow: hidden;
    max-height: 250px;
}

.recent-blog-posts .card .card-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.recent-blog-posts .card .card-body {
    padding: 1.5rem;
}

.recent-blog-posts .card .card-body .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
    color: var(--heading-color);
    font-weight: 600;
}

.recent-blog-posts .card .card-body .card-title a {
    color: inherit;
}

.recent-blog-posts .card .card-body .card-title:hover {
    color: var(--accent-color);
}

.recent-blog-posts .card .card-body .card-text {
    font-size: 0.9rem;
    color: color-mix(in srgb, var(--default-color), transparent 25%);
}